<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Test 128</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
    </head>
    <body>
    <br>
    <div class="row text-center">
        <h1>Retrouvez le code postal d'une ville à partir de son nom !</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="images/villes.gif" alt="HTML tutorial" width="500" height="531">
        </div>
        <div class="col-md-6">
            <br><br><br>
            <form class="form-horizontal" method="get">
                <div class="form-group">
                    <label for="ville" class="col-sm-4 control-label">Veuillez saisir le nom d'une ville</label>
                    <div class="col-sm-4">
                        <input type="ville" class="form-control" id="inputVille" name="ville"
                               value="<?php echo htmlentities($villeSaisie) ?>" placeholder="Nom ville">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Valider" />
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Code postal correspondant</label>
                    <div class="col-sm-4">
                        <?php if ($codePostal){ ?>
                            <label for="code"><?php echo $codePostal ?></label>
                        <?php } ?>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>
